.card {
    background-color: rgb(192, 192, 192, 0.7);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 64px;
    max-width: 100px;
    padding: 4px;
}

.text {
    font-size: 1em;
    font-weight: 600;
}

.number {
    font-size: 0.8;
    font-weight: 500;
}
